*.iml
.gradle
/local.properties
/.idea
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
iosApp/Podfile.lock
iosApp/Pods/*
iosApp/iosApp.xcworkspace/*
iosApp/iosApp.xcodeproj/*
!iosApp/iosApp.xcodeproj/project.pbxproj
shared/shared.podspec
/backend/node_modules/
/backend/package-lock.json
/server/serverenv/
/server/venv/
/server/compose_connect_backend/db.sqlite3
/server/compose_connect/db.sqlite3
